
:root {
   --main-theme: rgb(136, 135, 135); 
}

.brand {
   background-color: var(--main-theme) !important;
   /* color: rgb(255, 255, 255); */
   border-radius: 8px;
   font-weight: 600;
}

.brand-text {
   color:  var(--main-theme) !important;
}

form {
   max-width: 460px;
   margin: 20px auto;
   padding: 40px;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#oh-no {
   color: red;
}
